# This file holds shared secrets or RSA private keys for authentication.

# RSA private key for this host, authenticating it to any other host
# which knows the public part.
%any {{ vpn_gw_ext_ip }} : PSK "{{ ipsec_key }}"